h2{
  font-family: Papyrus;
}

#Tit {
  font-family: Papyrus;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.w3-container{
  font-family: Papyrus;
  font-size: 27px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
	text-align: left;
  font-size: 60px;
  font-family: papyrus;
}

.secondText {
font-size: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button3 {background-color: #f44336;} /* Red */

#bkkie {
  cursor: pointer;
  font-family: papyrus;
}

#pencie {
  cursor: pointer;
  font-family: papyrus;
}

#but{
  display:none;
}

#mop{
  display:none;
}

#bggie {
  cursor: pointer;
  font-family: papyrus;
}

#kaching {
  cursor: pointer;
  font-family: papyrus;
}
