body {
    background-color: #F7EF6A;
}


h1 {
    color:Black ;
    text-align: center;
    font-size: 100px;
}

ul {list-style-type: none;
      background: #F6F093;
      padding: 20px;
      margin: 5px;
      display: inline-block;
}

p {
    color:Black;
    text-align: center;
    font-size: 100px;
}
